* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: gotham-rounded-book;
    src: url(../fonts/gotham-rounded-light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: gotham-rounded-book;
    src: url(../fonts/gotham-rounded-book.otf);
    font-weight: normal;
}

@font-face {
    font-family: gotham-rounded-book;
    src: url(../fonts/gotham-rounded-medium.otf);
    font-weight: bold;
}

body {
    padding-top: 80px;
    letter-spacing: 0.06em;
    line-height: 1.8em;
}

.timeline {
    position: relative;
}

.timeline::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background: #ddd;
    width: 2px;
}

.content {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    width: 50%;
    /*    opacity: 0;*/
}

.text {
    padding: 10px;
    border-radius: 7px;
    position: relative;
    color: #fff;
    display: none;
}

.text p {
    padding: 15px;
}

.content:nth-child(odd) {
    /*    float: left;*/
    left: 0;
}

.content:nth-child(even) {
    /*    float: right;*/
    left: 50%;
}

.content:nth-child(odd) .text {
    background: #4387a9;
}

.content:nth-child(even) .text {
    background: #458e46;
}

.content:nth-child(odd) .text::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 32px;
    width: 0;
    z-index: 1;
    right: -12px;
    border: medium solid #4387a9;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent #4387a9;
}

.content:nth-child(even) .text::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 32px;
    width: 0;
    z-index: 1;
    left: -12px;
    border: medium solid #458e46;
    border-width: 12px 12px 12px 0;
    border-color: transparent #458e46 transparent transparent;
}

.content:nth-child(odd)::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #2b8084;
    top: 67px;
    right: -9px;
    z-index: 2;
}

.content:nth-child(even):after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #2b8084;
    top: 67px;
    left: -6px;
    z-index: 2;
}

.scroll {
    padding: 50px 0;
    background: #ddd;
    z-index: 2;
}
